@charset "utf-8";
/* CSS Document */

body{
	background-color:#CCC;
	
	
}
#photos {
  overflow: hidden;
  width: 400px;
  margin-top:25px;
  margin-left: 300px;
  margin-bottom: 25px;
}

#photos h1, p{
	text-align:center
}

#photos_inner {
  height: 100px;
  width: 1000px;
  overflow: hidden;
  position: relative;
}

#photos_inner img {
  float: left;
  width: 100px;
  height: 100px;
}

#slideShow{
	width:500px;
	height:100px;
	border-style:solid;
	border-width:5px;
	margin:auto;
}

#text1{
	margin-top:10px;
}

#productCheckBoxes{
	float:left;
	width:100px;
	//height:300px;
	border-style: groove;
	border-width:3px;
	padding: 15px;
	margin-top:5px;
}

#imagesDaggable{
	float:left;
	//width:50px;
	//height:100px;
	border-style: groove;
	border-width:5px;
	padding: 5px;
	margin-left: 50px;
	margin-top:5px;
}

#checkedImageDisplay{
	float:left;
	width:414px;
	height:414;
	border-style:ridge;
	border-width:5px;
	margin-left:25px;
	margin-top:5px;
}

#orderContainer{
	width:750px;
	height:100px;
	//border-style: groove;
	//border-width:5px;
	//padding: 5px;
	margin-top:25px;
	margin-left:250px;
}
#orderedImages{
	float:left;
	width:586px;
	height:55px;
	border-style: groove;
	border-width:5px;
	//padding: 5px;
	margin-top:15px;
}

#orderDispose{
	float:right;
	background-color:#F33;
	height:100px;
	width:100px;
}

#priceTable{
	float:left;
	border-style:ridge;
	border-width:5px;
	margin-left:75px;
	margin-top:5px;
}

#priceTable td{
	background-color: #AD855C;
	color: #FFF;
	text-align:center;
	font-weight:bold;
}

#priceTable th{
	background-color:#8A6A4A;
	margin: 10px;
	padding: 10px;
	text-align:center;
	width: 100px;
}

#priceTable tr:last-child td{
	background-color:#8A6A4A;
	color:#000;
	margin: 10px;
	padding: 10px;
	text-align:center;
	width: 100px;
}

.clear{
	clear:both;
}

#submitButton{
	text-align:center;
	
}

.done{
	text-align:center;
}
