@charset "utf-8";
/* CSS Document */

#drag1, #drag2, #drag3, #drag4 {
	float:left;
	//background-color:#FF0;
	width:55px;
	height:55px;
	margin:5px;
	//border-style:solid;
	border-width:5px;

}

#dragHelper{
	background-color:#C93; 
	width:100px;
	height:100px;
}

.clear{
	clear:both;
}

#dropContainer{
	background-color:#903;
	width:414px;
	height:414px;
	border-style:solid;
	border-width:15px;
}

#dropBox1, #dropBox2 {
	float:left;
	background-color:#999;
	width:200px;
	height:200px;
	margin:2px;
	border-style:solid;
	border-width:1px;
}


#dropBox3,#dropBox4 {
	float:left;
	background-color:#999;
	width:200px;
	height:200px;
	margin:2px;
	border-style:solid;
	border-width:1px;
}
