extends layout

block content
  h1= title
  p Welcome to #{title}
  
  a(href="/read") read        
  a(href="/address") address               
  a(href="/address/read") address read          

  p
  button#buttonParseGetJson button
  p#debug

  div#radioDiv