doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery-2.1.1.js")
    script(src="/javascripts/test.js")
  body
    block content