extends layout

block content
  h1= title
  
  p Hello from the server
   
  p#intro Test
  
  ul
    li.listItem Item01
    li.listItem Item02
    li.listItem Item03
    
  p Clicked Item's Json Object Properties  
  p#result
  p#route
  p#message
  