doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="javascripts/jquery-1.9.1.js")
    script(src="javascripts/Callbacks.js")
  body
    block content